@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 240, 240, 240;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
}

#__next {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: none;
  height: auto;
  margin: 0;
  padding: 0;
  background: transparent;
  box-shadow: none;
}

.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.button {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  margin-top: 10px;
}

.button:hover {
  background-color: #0056b3;
}

.button.bg-green-500 {
  background-color: #28a745;
}

.button.bg-green-500:hover {
  background-color: #218838;
}

.tossing-image,
.result-image {
  width: 128px;
  height: 128px;
  object-fit: cover;
}